#12-word mnemonic phrase
SECRET=

#Your Node URL RPC Server. Ex: https://data-seed-prebsc-1-s1.binance.org:8545/
NODE_URL=

#Your Node Chain ID. Ex: 97
CHAIN_ID=

#Your block explorer Api Key (ex: BSCScan)
API_KEY=
